* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #505050;
}

a {
	color: #1B6685;
	text-decoration: none;
	font-weight: normal;
}

.article__wrapper {
	line-height: 28.5px;
	font-size: 17px;
	padding: 20px 30px 15px;
}

.header {

	&__published-on {
		margin-top: 50px;
		margin-bottom: 20px;
		color: #666;
		display: block;
	}

	&__title {
		margin: 0;
		font-weight: 600;
		line-height: 1.3em;
		font-size: 30px;
		padding-top: 20px;
	}

	&__authors {
		padding-top: 30px;
		color: #1B6685;
	}

	&__author {
		font-size: 17px;
		margin-right: 10px;
		margin-bottom: 8px;
		padding: 2px 1px;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
			color: #0b9dd9;
		}
	}

	&__doi {
		margin-top: 30px;
		margin-bottom: 20px;
		color: #666;
		font-size: 14px;
	}

}

.article__content {

	& > * {
		padding-top: 10px;
		padding-bottom: 15px;
		margin: 0;
	}
	
}